/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
  border-bottom: 2px solid #ee735e;
}

.navbar h1 {
  font-size: 1.5rem;
  color: #000000;
}

.navbar nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar nav a:hover {
  color: #1a73e8;
}

/* Profile Section */
.profile-section {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-link {
  margin-left: 8px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.profile-link:hover {
  color: #1a73e8;
  text-decoration: underline;
}

/* Carousel Section */
.home-carousel .carousel .slide img {
  max-height: 500px; /* Adjust based on desired height */
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.home-carousel {
  margin-top: 20px;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  background-color: #eff4f6;
}

.feature {
  text-align: center;
  max-width: 200px;
}

.feature img {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

/* How it Works Section */
.how-it-works {
  text-align: center;
  padding: 2rem;
}

.how-it-works h2 {
  color: #ee735e;
  margin-bottom: 2rem;
}

.steps {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}

.step {
  max-width: 150px;
}

.step h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.step p {
  color: #0065a2;
}

.start-journey-btn {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #ff7f50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.start-journey-btn:hover {
  background-color: #ff6347;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}
